.itemContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 24px;
  }
  
  figure {
    grid-column: 1;
  }
  
  .info {
    display: grid;
    grid-template-columns: 1fr; 
  }

  .quantidade {
    margin-top: 15px;
  }

  .icon {
    grid-column: 5;
    margin-top: 30px;
  }

  .icon img {
    cursor: pointer;
  }