.containerItemCarrinho .conteudo {
  width: 820px;
  max-width: 90%;
  margin: 0 auto;
}

.itens {
  max-width: 80%;
  margin: 24px auto;
}

.containerItemCarrinho .conteudo footer {
  border-top: 1px solid #000;
  margin-top: 24px;
  padding-top: 32px;
  margin-bottom: 128px;
}

.containerItemCarrinho .conteudo footer ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}
